# Configurações do GLPI
GLPI_API_BASE_URL="http://url-do-glpi/apirest.php/"
GLPI_APP_TOKEN="seu_app_token_glpi"
GLPI_AUTH="user_token seu_user_token_glpi"

# Configurações do GLPI (Ambiente de Testes)
GLPI_API_URL_TESTES="http://url-do-glpi-testes"
GLPI_APP_TOKEN_TESTES="seu_app_token_glpi_testes"
USER_GLPI="usuario_glpi"
PASS_GLPI="senha_glpi"
GLPI_USER_GROUP_ID=39

# Configurações do Evolution API (WhatsApp/Mensageria)
EVOLUTION_API_BASE_URL="http://url-evolution-api:8082"
EVOLUTION_API_KEY="sua_api_key_evolution"
EVOLUTION_INSTANCE="nome_instancia_evolution"

# Configurações do Banco de Dados MySQL
HOST_MYSQL="localhost"
PORT_MYSQL=3306
USER_MYSQL="usuario_mysql"
PASS_MYSQL="senha_mysql"
SCHEMA_MYSQL="nome_do_banco"

# Configurações do OpenProject
APIKEY_OPEN="sua_api_key_openproject"
OPENPROJECT_URL="https://url-do-openproject"
